<mat-sidenav-container fullscreen>
    <ul class="list-group">
        <li class="list-group-item bg-dark">
            <a routerLink="/auth/login">
                Ir a Login
            </a>
        </li>

        <li class="list-group-item bg-dark">
            <a routerLink="/auth/registro">
                Ir a Registro
            </a>
        </li>

        <li class="list-group-item bg-dark">
            <a routerLink="/heroes/listado">
                Ir a Listado
            </a>
        </li>
    </ul>
</mat-sidenav-container>
    